openapi: 3.0.0
info:
  title: API Kdecole
  description: Tentative de définition de l'API Kdecole (Mon Bureau Numérique, Skolengo, etc.)
  version: 1.0.0
servers:
  - url: https://mobilite.monbureaunumerique.fr/mobilite
  - url: https://mobilite.preprod.monbureaunumerique.fr/mobilite
  - url: https://mobilite.mon-ent-occitanie.fr/mobilite
  - url: https://mobilite.arsene76.fr/mobilite
  - url: https://mobilite.ent27.fr/mobilite
  - url: https://mobilite.entcreuse.fr/mobilite
  - url: https://mobilite.ent.auvergnerhonealpes.fr/mobilite
  - url: https://mobilite.moncollege.valdoise.fr/mobilite
  - url: https://mobilite.savoirsnumeriques62.fr/mobilite

tags:
  - name: Utilisateur
  - name: Messagerie
  - name: Vie scolaire
  - name: Etablissement
  - name: Elève
  - name: Professeur
paths:
  /activation/{username}/{password}/:
    $ref: './components/paths/activation.yaml'

  /desactivation/:
    $ref: './components/paths/desactivation.yaml'

  /infoutilisateur/:
    $ref: './components/paths/infoutilisateur.yaml'

  /infoutilisateur/ideleve/{ideleve}/:
    $ref: './components/paths/parent/infoutilisateur.yaml'

  /messagerie/info/:
    $ref: './components/paths/messagerie/info.yaml'

  /messagerie/boiteReception/:
    $ref: './components/paths/messagerie/boiteReception.yaml'

  /messagerie/communication/{communication}/:
    $ref: './components/paths/messagerie/communication.yaml'

  /messagerie/communication/lu/{communication}/:
    $ref: './components/paths/messagerie/communicationLu.yaml'

  /messagerie/communication/nouvelleParticipation/{communication}/:
    $ref: './components/paths/messagerie/nouvelleParticipation.yaml'

  /messagerie/communication/supprimer/{communication}/:
    $ref: './components/paths/messagerie/communicationSupprimer.yaml'

  /messagerie/communication/signaler/{communication}/:
    $ref: './components/paths/messagerie/communicationSignaler.yaml'

  /consulterAbsences/idetablissement/{idetablissement}/:
    $ref: './components/paths/consulterAbsences.yaml'

  /consulterAbsences/ideleve/{ideleve}/:
    $ref: './components/paths/parent/consulterAbsences.yaml'

  /actualites/idetablissement/{idetablissement}/:
    $ref: './components/paths/actualites.yaml'

  /actualites/ideleve/{ideleve}/:
    $ref: './components/paths/parent/actualites.yaml'

  /contenuArticle/article/{article}/:
    $ref: './components/paths/contenuArticle.yaml'

  /calendrier/idetablissement/{idetablissement}/:
    $ref: './components/paths/calendrier.yaml'

  /calendrier/ideleve/{ideleve}/:
    $ref: './components/paths/parent/calendrier.yaml'

  /consulterNotes/idetablissement/{idetablissement}/:
    $ref: './components/paths/consulterNotes.yaml'

  /consulterNotes/ideleve/{ideleve}/:
    $ref: './components/paths/parent/consulterNotes.yaml'

  /consulterReleves/idetablissement/{idetablissement}/:
    $ref: './components/paths/consulterReleves.yaml'

  /consulterReleves/ideleve/{ideleve}/:
    $ref: './components/paths/parent/consulterReleves.yaml'

  /travailAFaire/idetablissement/{idetablissement}/:
    $ref: './components/paths/travailAFaire.yaml'

  /travailAFaire/ideleve/{ideleve}/:
    $ref: './components/paths/parent/travailAFaire.yaml'

  /contenuActivite/idetablissement/{idetablissement}/{seance}/{travail}/:
    $ref: './components/paths/contenuActivite.yaml'

  /contenuActivite/ideleve/{ideleve}/{seance}/{travail}/:
    $ref: './components/paths/parent/contenuActivite.yaml'

  /gestionAppels/idetablissement/{idetablissement}/:
    $ref: './components/paths/prof/gestionAppels.yaml'

  /gestionAppels/idetablissement/{idetablissement}/valider/:
    $ref: './components/paths/prof/gestionAppelsValider.yaml'

components:
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Kdecole-Auth
      description: Le token d'authentification de l'utilisateur
    AppVersion:
      type: apiKey
      in: header
      name: X-Kdecole-Vers
      description: La version de l'application mobile (3.4.14 actuellement pour Mon Bureau Numérique)
