openapi: 3.0.0
info:
  title: API Kdecole
  description: Tentative de définition de l'API Kdecole (Mon Bureau Numérique, Skolengo, etc.)
  version: 1.0.0
servers:
  - url: https://mobilite.monbureaunumerique.fr/mobilite
    description: Mon Bureau Numérique
  - url: https://mobilite.mon-ent-occitanie.fr/mobilite
    description: Mon ENT Occitanie
  - url: https://mobilite.arsene76.fr/mobilite
    description: Arsene 76
  - url: https://mobilite.ent27.fr/mobilite
    description: ENT27
  - url: https://mobilite.entcreuse.fr/mobilite
    description: ENT Creuse
  - url: https://mobilite.ent.auvergnerhonealpes.fr/mobilite
    description: ENT Auvergne-Rhône-Alpes
  - url: https://mobilite.savoirsnumeriques62.fr/mobilite
    description: Savoirs Numériques 62
  - url: https://mobilite.agora06.fr/mobilite
    description: Agora 06
  - url: https://mobilite.cybercolleges42.fr/mobilite
    description: CyberCollèges 42
  - url: https://mobilite.ecollege.haute-garonne.fr/mobilite
    description: eCollège 31 Haute-Garonne
  - url: https://mobilite.moncollege.valdoise.fr/mobilite
    description: Mon collège en Val d'Oise
  - url: https://mobilite.webcollege.seinesaintdenis.fr/mobilite
    description: Webcollège Seine-Saint-Denis
  - url: https://mobilite.eclat-bfc.fr/mobilite
    description: Eclat-BFC
  - url: https://mobilite.aucollege84.vaucluse.fr/mobilite
    description: '@ucollège84'
  - url: https://mobilite.schulen.be/mobilite
    description: Schulportal Ostbelgien
  - url: https://mobilite.entvaldemarne.skolengo.com/mobilite
    description: ENT Val de Marne
  - url: https://mobilite.demo.skolengo.com/mobilite
    description: Skolengo Demo
  - url: https://mobilite.kosmoseducation.com/mobilite
    description: Kosmos Éducation (aefe, etc.)
  - url: https://mobilite.formation.skolengo.com/mobilite
    description: Formation Skolengo

tags:
  - name: Utilisateur
  - name: Messagerie
  - name: Vie scolaire
  - name: Etablissement
  - name: Eleve
  - name: Professeur
paths:
  /starting/:
    get:
      summary: Log le démarrage de l'application mobile
      operationId: starting
      tags:
        - Utilisateur
      responses:
        204:
          description: L'information a été prise en compte.
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /activation/{username}/{password}/:
    get:
      summary: Récupération du token d'authentification
      description: Récupération du token d'authentification en fournissant le nom d'utilisateur et le mot de passe à usage unique fournit lors la procédure d'activation de l'accès mobile de l'utilisateur.
      operationId: login
      tags:
        - Utilisateur
      parameters:
        - in: path
          description: L'identifiant de l'utilisateur.
          name: username
          required: true
          schema:
            type: string
            example: john.doe
        - in: path
          description: Le mot de passe à usage unique fournit lors de l'activation de l'accès mobile.
          name: password
          required: true
          schema:
            type: string
            example: PRJROFCOZ
      responses:
        200:
          description: Le token est présent ou absent dans le corps de la réponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activation'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /desactivation/:
    get:
      summary: Invalide le token d'authentification
      operationId: desactivation
      tags:
        - Utilisateur
      responses:
        200:
          description: L'utilisateur s'est déconnecté.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activation'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /infoutilisateur/:
    get:
      summary: Retourne les informations de l'utilisateur
      operationId: getInfoUtilisateur
      tags:
        - Utilisateur
      responses:
        200:
          description: Le serveur retourne les informations de l'utilisateur.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infoUtilisateur'
        403:
          $ref: '#/components/responses/badAuthenticationData'


  /infoutilisateur/ideleve/{ideleve}/:
    get:
      summary: Sélectionne un utilisateur pour les requêtes futures.
      operationId: setSelectedStudent
      tags:
        - Utilisateur
      parameters:
        - in: path
          description: L'identifiant alphanumérique de l'élève.
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur retourne les informations de l'utilisateur avec le nouvel élève sélectionné.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infoUtilisateur'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /messagerie/info/:
    get:
      summary: Retourne le nombre de messages non lus
      operationId: getMessagerieInfo
      tags:
        - Messagerie
      responses:
        200:
          description: Le serveur le nombre de messages non lus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagerieInfo'
        403:
          $ref: '#/components/responses/badAuthenticationData'
  /messagerie/boiteReception/:
    get:
      summary: Retourne les fils de discussion.
      operationId: getMessagerieBoiteReception
      tags:
        - Messagerie
      responses:
        200:
          description: Le serveur retourne les fils de discussion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagerieBoiteReception'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /messagerie/boiteReception/{pagination}/:
    get:
      summary: Retourne les fils de discussion.
      operationId: getMessagerieBoiteReceptionPaginated
      tags:
        - Messagerie
      parameters:
        - in: path
          description: Le nombre de fils de discussion les plus récents à tronquer.
          name: pagination
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Le serveur retourne les fils de discussion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagerieBoiteReception'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /messagerie/communication/{communication}/:
    get:
      summary: Retourne les détails d'un fil de discussion.
      operationId: getMessagerieCommunication
      tags:
        - Messagerie
      parameters:
        - in: path
          description: L'identifiant de la communication.
          name: communication
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Le serveur retourne le fil de discussion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagerieCommunication'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /messagerie/communication/lu/{communication}/:
    put:
      summary: Marque une communication lue.
      operationId: setMessagerieCommunicationLu
      tags:
        - Messagerie
      parameters:
        - in: path
          description: L'identifiant de la communication.
          name: communication
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Le serveur marque la communication lue.
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /messagerie/communication/nouvelleParticipation/{communication}/:
    put:
      summary: Envoi un message sur un fil de discussion.
      operationId: sendMessagerieMessage
      tags:
        - Messagerie
      parameters:
        - in: path
          description: L'identifiant de la communication.
          name: communication
          required: true
          schema:
            type: string
      requestBody:
        description: Le message à envoyer.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messagerieNouvelleParticipation'
      responses:
        200:
          description: Le serveur prend en compte la nouvelle participation au fil de messages.
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /messagerie/communication/supprimer/{communication}/:
    delete:
      summary: Supprime un fil de discussion de sa boite mail.
      operationId: deleteMessagerieCommunication
      tags:
        - Messagerie
      parameters:
        - in: path
          description: L'identifiant de la communication.
          name: communication
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur prend en compte la suppression du fil de discussion de la boite mail.
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /messagerie/communication/signaler/{communication}/:
    put:
      summary: Signaler un fil de discussion de sa boite mail.
      operationId: reportMessagerieCommunication
      tags:
        - Messagerie
      parameters:
        - in: path
          description: L'identifiant de la communication.
          name: communication
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur prend en compte le signalement du fil de discussion.
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /consulterAbsences/ideleve/{ideleve}/:
    get:
      summary: Consulter les absences d'un élève précis.
      operationId: getAbsencesStudent
      tags:
        - Vie scolaire
      parameters:
        - in: path
          description: L'identifiant alphanumérique de l'élève.
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les absences de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vieScolaireConsulterAbsences'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /consulterAbsences/idetablissement/{idetablissement}/:
    get:
      summary: Consulter les absences de l'utilisateur actuel (ou de l'élève sélectionné par défaut si l'utilisateur est un parent).
      operationId: getAbsences
      tags:
        - Vie scolaire
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les absences de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/vieScolaireConsulterAbsences'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /actualites/idetablissement/{idetablissement}/:
    get:
      summary: Consulter les dernières actualités de l'établissement.
      operationId: getEtabNews
      tags:
        - Etablissement
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les actualités de l'établissement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/etablissementActualites'
        403:
          $ref: '#/components/responses/badAuthenticationData'
  /actualites/ideleve/{ideleve}/:
    get:
      summary: Consulter les dernières actualités de l'établissement d'un élève.
      operationId: getEtabNewsStudent
      tags:
        - Etablissement
      parameters:
        - in: path
          description: L'identifiant alphanumérique de l'élève.
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les actualités de l'établissement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/etablissementActualites'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /contenuArticle/article/{article}/:
    get:
      summary: Consulter les détails d'un article.
      operationId: getEtabNewsDetails
      tags:
        - Etablissement
      parameters:
        - in: path
          description: L'identifiant de l'article.
          name: article
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit le contenu de l'article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/etablissementContenuArticle'
        403:
          $ref: '#/components/responses/badAuthenticationData'
  /contenuArticle/information/{information}/:
    get:
      summary: Consulter les détails d'une information.
      operationId: getEtabInformationDetails
      tags:
        - Etablissement
      parameters:
        - in: path
          description: L'identifiant de l'information.
          name: information
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit le contenu de l'information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/etablissementContenuArticle'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /calendrier/idetablissement/{idetablissement}/:
    get:
      summary: Consulter l'emploi du temps de l'élève sélectionné par défaut.
      operationId: getStudentTimetable
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit l'emploi du temps de l'élève sur 7 jours.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterEDT'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /calendrier/ideleve/{ideleve}/:
    get:
      summary: Consulter l'emploi du temps d'un élève précis.
      operationId: getStudentTimetableStudent
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant alphanumérique de l'élève.
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit l'emploi du temps de l'élève sur 7 jours.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterEDT'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /consulterNotes/idetablissement/{idetablissement}/:
    get:
      summary: Consulter les dernières notes de l'élève sélectionné par défaut.
      operationId: getRecentNotes
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les dernières notes de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterNotes'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /consulterNotes/ideleve/{ideleve}/:
    get:
      summary: Consulter les dernières notes d'un élève précis.
      operationId: getRecentNotesStudent
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant alphanumérique de l'élève.
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les dernières notes de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterNotes'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /consulterReleves/idetablissement/{idetablissement}/:
    get:
      summary: Consulter le relevé de notes de l'élève sélectionné par défaut.
      operationId: getReleveScolaire
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit le relevé de notes de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterReleve'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /consulterReleves/ideleve/{ideleve}/:
    get:
      summary: Consulter le relevé de notes d'un élève précis.
      operationId: getReleveScolaireStudent
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant alphanumérique de l'élève.
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit le relevé de notes de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterReleve'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /travailAFaire/idetablissement/{idetablissement}/:
    get:
      summary: Consulter les devoirs à faire de l'élève sélectionné par défaut.
      operationId: getHomeworks
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit le travail à faire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterTravailAFaire'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /travailAFaire/ideleve/{ideleve}/:
    get:
      summary: Consulter les devoirs à faire d'un élève précis.
      operationId: getHomeworksStudent
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant alphanumérique de l'élève.
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les travaux à faire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterTravailAFaire'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /travailAFaire/idetablissement/{idetablissement}/{notBeforeDate}/:
    get:
      summary: Consulter les devoirs à faire de l'élève sélectionné par défaut.
      operationId: getHomeworksNotBefore
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
        - in: path
          description: Un timestamp pour ne sélectionner que les devoirs postérieurs à une date.
          name: notBeforeDate
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit le travail à faire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterTravailAFaire'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /travailAFaire/ideleve/{ideleve}/{notBeforeDate}:
    get:
      summary: Consulter les devoirs à faire d'un élève précis.
      operationId: getHomeworksStudentNotBefore
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant alphanumérique de l'élève.
          name: ideleve
          required: true
          schema:
            type: string
        - in: path
          description: Un timestamp pour ne sélectionner que les devoirs postérieurs à une date.
          name: notBeforeDate
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les travaux à faire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterTravailAFaire'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /contenuActivite/idetablissement/{idetablissement}/{seance}/{travail}/:
    get:
      summary: Consulter les détails d'un devoir à faire.
      operationId: getHomeworkDetails
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
        - in: path
          description: L'identifiant de la séance.
          name: seance
          required: true
          schema:
            type: integer
        - in: path
          description: L'identifiant du travail à faire.
          name: travail
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Le serveur renvoit les détails du travail à faire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterActivite'
        403:
          $ref: '#/components/responses/badAuthenticationData'
    put:
      summary: Marquer le devoir fait.
      operationId: setHomeworkMade
      tags:
        - Eleve
      requestBody:
        description: Le statut du devoir.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/flagRealise'
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
        - in: path
          description: L'identifiant de la séance.
          name: seance
          required: true
          schema:
            type: integer
        - in: path
          description: L'identifiant du travail à faire.
          name: travail
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Le serveur confirme le changement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flagRealise'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /contenuActivite/ideleve/{ideleve}/{seance}/{travail}/:
    get:
      summary: Consulter les détails d'un devoir à faire d'un élève précis.
      operationId: getHomeworkDetailsStudent
      tags:
        - Eleve
      parameters:
        - in: path
          description: L'identifiant alphanumérique de l'élève.
          name: ideleve
          required: true
          schema:
            type: string
        - in: path
          description: L'identifiant de la séance.
          name: seance
          required: true
          schema:
            type: integer
        - in: path
          description: L'identifiant du travail à faire.
          name: travail
          required: true
          schema:
            type: integer
      responses:
        200:
          description: Le serveur renvoit les détails du travail à faire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/eleveConsulterActivite'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /gestionAppels/idetablissement/{idetablissement}/:
    get:
      summary: Consulter la feuille d'appel de la classe en cours.
      operationId: getCurrentAppel
      tags:
        - Professeur
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit la feuille d'appel.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/profGestionAppels'
        403:
          $ref: '#/components/responses/badAuthenticationData'

  /gestionAppels/idetablissement/{idetablissement}/valider/:
    put:
      summary: Valider un appel.
      operationId: putCurrentAppel
      tags:
        - Professeur
      requestBody:
        description: L'appel à valider.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/profGestionAppelsValider'
      parameters:
        - in: path
          description: L'identifiant de l'établissement.
          name: idetablissement
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur prend en compte l'appel.
        403:
          $ref: '#/components/responses/badAuthenticationData'
components:
  securitySchemes:
    authToken:
      type: apiKey
      in: header
      name: X-Kdecole-Auth
      description: Le token d'authentification de l'utilisateur
    appVersion:
      type: apiKey
      in: header
      name: X-Kdecole-Vers
      description: La version de l'application mobile
  schemas:
    errmsg:
      nullable: true
      type: object
      properties:
        titre:
          type: string
        code:
          type: integer
        type:
          type: string
        message:
          type: string
        tempsvalide:
          type: integer
    activation:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        success:
          type: boolean
        authtoken:
          type: string
          nullable: true
    infoUtilisateur:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        type:
          type: integer
          description: Le type de compte (élève, parent, prof, etc.)
        nom:
          type: string
        eleves:
          type: array
          items:
            type: object
            properties:
              active:
                type: boolean
              nom:
                type: string
              uid:
                type: string
              permissions:
                type: string
                nullable: true
        xiti:
          type: object
          properties:
            idProjet:
              type: string
            idCollectivite:
              type: string
            idXiti:
              type: string
            idEtab:
              type: string
            idPlateforme:
              type: string
            codeProfil:
              type: string
        idEtablissementSelectionne:
          type: string
          nullable: true
        idEleveSelectionne:
          type: string
          nullable: true
        protection:
          type: string
        etabs:
          type: array
          items:
            type: object
            properties:
              permissions:
                type: string
                nullable: true
              uid:
                type: string
              nom:
                type: string
              active:
                type: boolean
        timezone:
          type: string
    pieceJointe:
      type: array
      nullable: true
      items:
        type: object
        properties:
          idRessource:
            type: integer
            nullable: true
          url:
            type: string
            nullable: true
          name:
            type: string
          typeMIME:
            type: string
            nullable: true
    messagerieInfo:
      type: object
      properties:
        nbMessagesNonLus:
          type: integer
    messagerieParticipant:
      type: object
      nullable: true
      properties:
        id:
          type: string
          nullable: true
        libelle:
          type: string
    messagerieParticipations:
      type: array
      nullable: true
      items:
        type: object
        properties:
          dateEnvoi:
            type: integer
          corpsMessage:
            type: string
          pjs:
            $ref: '#/components/schemas/pieceJointe'
          id:
            type: integer
          libelleObjet:
            type: string
            nullable: true
          redacteur:
            $ref: '#/components/schemas/messagerieParticipant'
          premieresLignes:
            type: string
          typeMessage:
            type: string
    messagerieCommunication:
      type: array
      items:
        type: object
        properties:
          participants:
            type: array
            items:
              $ref: '#/components/schemas/messagerieParticipant'
          expediteurActuel:
            $ref: '#/components/schemas/messagerieParticipant'
          signalable:
            type: boolean
          expediteurInitial:
            $ref: '#/components/schemas/messagerieParticipant'
          id:
            type: integer
          dateDernierMessage:
            type: integer
          nbParticipants:
            type: integer
          isExpediteurInitial:
            type: boolean
          pieceJointe:
            type: boolean
          participations:
            $ref: '#/components/schemas/messagerieParticipations'
          objet:
            type: string
          type:
            type: string
          etat:
            type: string
          premieresLignes:
            type: string
          etatLecture:
            type: boolean
          modeReponse:
            type: string
    messagerieBoiteReception:
      type: object
      properties:
        nbMaxCommunicationRecues:
          type: integer
        communications:
          type: array
          items:
            $ref: '#/components/schemas/messagerieCommunication'
        nbMaxCaracteresMessage:
          type: integer
        nbMaxCommunicationBoiteReception:
          type: integer
    messagerieNouvelleParticipation:
      type: object
      properties:
        dateEnvoi:
          type: integer
        corpsMessage:
          type: string
    vieScolaireConsulterAbsences:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        codeEleve:
          type: string
        nbAbsencesMax:
          type: integer
        listeAbsences:
          type: array
          items:
            type: object
            properties:
              dateFin:
                type: integer
              motif:
                type: string
                nullable: true
              type:
                type: string
              matiere:
                type: string
              dateDebut:
                type: integer
              justifiee:
                type: boolean
    etablissementActualites:
      type: array
      items:
        type: object
        properties:
          errmsg:
            $ref: '#/components/schemas/errmsg'
          type:
            type: string
          auteur:
            type: string
          codeEmetteur:
            type: string
          titre:
            type: string
          date:
            type: integer
          uid:
            type: string
    etablissementContenuArticle:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        titre:
          type: string
        codeHTML:
          type: string
        date:
          type: integer
        url:
          type: string
        auteur:
          type: string
        type:
          type: string
        pjs:
          type: array
          items:
            $ref: '#/components/schemas/pieceJointe'
    travail:
      type: object
      properties:
        type:
          type: string
        uid:
          type: integer
        date:
          type: integer
        titre:
          type: string
    eleveConsulterEDT:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        currentDate:
          type: integer
        listeJourCdt:
          type: array
          items:
            type: object
            properties:
              listeSeances:
                type: array
                items:
                  type: object
                  properties:
                    hdeb:
                      type: integer
                    enSeance:
                      nullable: true
                      type: array
                      items:
                        $ref: '#/components/schemas/travail'
                    matiere:
                      type: string
                    aFaire:
                      type: array
                      nullable: true
                      items:
                        $ref: '#/components/schemas/travail'
                    heureFin:
                      type: string
                    flagModif:
                      type: string
                    titre:
                      type: string
                    flagActif:
                      type: boolean
                    heureDebut:
                      type: string
                    hFin:
                      type: integer
                    aRendre:
                      type: array
                      nullable: true
                      items:
                        $ref: '#/components/schemas/travail'
                    motifModif:
                      type: string
                    idSeance:
                      type: integer
                    salle:
                      type: string
              date:
                type: integer
        cdtOuvert:
          type: boolean
    note:
      type: object
      properties:
        coefficient:
          type: integer
        pjs:
          $ref: '#/components/schemas/pieceJointe'
        id:
          type: integer
        titreDevoir:
          type: string
        noteMax:
          type: string
          nullable: true
        moyenne:
          type: string
          nullable: true
        comptabilise:
          type: boolean
        commentaireDevoir:
          type: string
          nullable: true
        facultatif:
          type: boolean
        sousMatiere:
          nullable: true
          type: string
        noteMin:
          type: string
          nullable: true
        appreciation:
          nullable: true
          type: string
        bareme:
          type: integer
        matiere:
          type: string
          nullable: true
        date:
          type: integer
        note:
          type: string
          nullable: true
        medianeClasse:
          type: string
          nullable: true
    eleveConsulterNotes:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        moduleNotesActif:
          type: boolean
        codeEleve:
          type: string
        nbNotesMax:
          type: integer
        listeNotes:
          type: array
          items:
            $ref: '#/components/schemas/note'
    eleveConsulterReleve:
      type: array
      items:
        type: object
        properties:
          matieres:
            type: array
            items:
              type: object
              properties:
                bareme:
                  type: string
                moyenneEleve:
                  type: string
                devoirs:
                  type: array
                  items:
                    $ref: '#/components/schemas/note'
                enseignants:
                  type: array
                  items:
                    type: string
                matiereLibelle:
                  type: string
                moyenneClasse:
                  type: string
    eleveConsulterTravailAFaire:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        tafOuvert:
          type: boolean
        listeTravaux:
          type: array
          items:
            type: object
            properties:
              date:
                type: integer
              listTravail:
                type: object
                properties:
                  type:
                    type: string
                  temps:
                    type: integer
                  matiere:
                    type: string
                  flagRealise:
                    type: boolean
                  titre:
                    type: string
                  date:
                    type: integer
                  uid:
                    type: string
                  uidSeance:
                    type: string
    flagRealise:
      type: object
      properties:
        flagRealise:
          type: boolean
    eleveConsulterActivite:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        codeHTML:
          type: string
        flagTravailAFaire:
          type: boolean
        flagRealise:
          type: boolean
        titre:
          type: string
        date:
          type: integer
        isFaitModifiable:
          type: boolean
        type:
          type: string
        matiere:
          type: string
        pjs:
          $ref: '#/components/schemas/pieceJointe'
    profGestionAppels:
      type: object
      properties:
        dateDuJour:
          type: integer
        listeAppels:
          type: array
          items:
            type: object
            properties:
              isEnCours:
                type: boolean
              dateDebut:
                type: integer
              dateFin:
                type: integer
              idAppel:
                type: integer
              libelleGroupe:
                type: string
              listeElevesAppel:
                type: object
                properties:
                  nomEleve:
                    type: string
                  prenomEleve:
                    type: string
                  idEleve:
                    type: string
                  absenceEleveAppel:
                    type: object
                    nullable: true
                    properties:
                      idAbsence:
                        type: integer
                      type:
                        type: string
                      dateDebut:
                        type: integer
                      dateFin:
                        type: integer
                      idMotif:
                        type: string
                      modifiable:
                        type: boolean
    profGestionAppelsValider:
      type: object
      properties:
        idEtab:
          type: integer
        idAppel:
          type: integer
        listeAbsencesAppel:
          type: array
          items:
            type: object
            properties:
              idEleve:
                type: string
              type:
                type: string
              dateDebut:
                type: integer
              dateFin:
                type: integer
              modifiable:
                type: boolean
  responses:
    badAuthenticationData:
      description: Le serveur vous refuse l'accès.
      content:
        application/json:
          schema:
            type: object
            properties:
              errmsg:
                $ref: '#/components/schemas/errmsg'
security:
  - authToken: [ ]
  - appVersion: [ ]
