openapi: 3.0.0
info:
  title: Définition API Kdecole (Mon Bureau Numérique, Skolengo, etc.)
  description: Tentative de définition de l'API Kdecole.
  version: 1.0.0
servers:
  - url: 'https://mobilite.monbureaunumerique.fr/mobilite'
  - url: 'https://mobilite.preprod.monbureaunumerique.fr/mobilite'
tags:
  - name: Utilisateur
  - name: Messagerie
  - name: Vie scolaire
  - name: Etablissement
  - name: Elève
paths:
  /activation/{username}/{password}/:
    get:
      summary: Récupération du token d'authentification
      description: Récupération du token d'authentification en fournissant le nom d'utilisateur et le mot de passe à usage unique fournit lors la procédure d'activation de l'accès mobile de l'utilisateur.
      operationId: activation
      tags:
        - Utilisateur
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: username
          required: true
          schema:
            type: string
            example: john.doe
        - in: path
          name: password
          required: true
          schema:
            type: string
            example: PRJROFCOZ
      responses:
        200:
          description: Le token est présent ou absent dans le corps de la réponse.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activationResponse'

  /desactivation/:
    get:
      summary: Invalide le token d'authentification
      operationId: desactivation
      tags:
        - Utilisateur
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      responses:
        200:
          description: L'utilisateur s'est déconnecté.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/activationResponse'
        403:
          description: Le token fournit est invalide.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /infoutilisateur/:
    get:
      summary: Retourne les informations de l'utilisateur
      operationId: infoutilisateur
      tags:
        - Utilisateur
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      responses:
        200:
          description: Le serveur retourne les infos de l'utilisateur.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/infoutilisateur'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /messagerie/info/:
    get:
      summary: Retourne le nombre de messages non lus
      operationId: messagerieInfo
      tags:
        - Messagerie
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      responses:
        200:
          description: Le serveur le nombre de messages non lus.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagerieInfo'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /messagerie/boiteReception/:
    get:
      summary: Retourne derniers fils de discussion.
      operationId: messagerieBoiteReception
      tags:
        - Messagerie
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      responses:
        200:
          description: Le serveur les derniers fils de discussion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagerieBoiteReception'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /messagerie/communication/{communication}/:
    get:
      summary: Retourne derniers fils de discussion.
      operationId: messagerieCommunication
      tags:
        - Messagerie
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: communication
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur les derniers fils de discussion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagerieCommunication'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /messagerie/communication/lu/{communication}/:
    put:
      summary: Marque une communication lue.
      operationId: messagerieCommunicationLu
      tags:
        - Messagerie
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: communication
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur marque la communication lue.
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /messagerie/communication/nouvelleParticipation/{communication}/:
    put:
      summary: Envoi un message sur un fil de discussion.
      operationId: messagerieNouvelleParticipation
      tags:
        - Messagerie
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: communication
          required: true
          schema:
            type: string
      requestBody:
        description: Le message à envoyer.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/messagerieNouvelleParticipation'
      responses:
        200:
          description: Le serveur prend en compte la nouvelle participation au fil de messages.
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /messagerie/communication/supprimer/{communication}/:
    delete:
      summary: Supprime un fil de discussion de sa boite mail.
      operationId: messagerieSupprimerCommunication
      tags:
        - Messagerie
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: communication
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur prend en compte la suppression du fil de discussion de la boite mail.
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /messagerie/communication/signaler/{communication}/:
    put:
      summary: Signaler un fil de discussion de sa boite mail.
      operationId: messagerieSignalerCommunication
      tags:
        - Messagerie
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: communication
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur prend en compte le signalement du fil de discussion.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/messagerieCommunication'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /consulterAbsences/idetablissement/{idetablissement}/:
    get:
      summary: Consulter les absences de l'utilisateur actel (ou de l'élève sélectionné par défaut si l'utilisateur est un parent).
      operationId: vieScolaireConsulterAbsences
      tags:
        - Vie scolaire
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: idetablissement
          required: true
          schema:
            type: number
      responses:
        200:
          description: Le serveur renvoit les absences de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consulterAbsences'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /consulterAbsences/ideleve/{ideleve}/:
    get:
      summary: Consulter les absences d'un élève précis.
      operationId: vieScolaireConsulterAbsencesParent
      tags:
        - Vie scolaire
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les absences de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consulterAbsences'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /actualites/idetablissement/{idetablissement}/:
    get:
      summary: Consulter les dernières actualités de l'établissement.
      operationId: etablissementActualites
      tags:
        - Etablissement
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: idetablissement
          required: true
          schema:
            type: number
      responses:
        200:
          description: Le serveur renvoit les actualités de l'établissement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actualites'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /actualites/ideleve/{ideleve}/:
    get:
      summary: Consulter les dernières actualités de l'établissement d'un élève.
      operationId: etablissementActualitesParent
      tags:
        - Etablissement
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les actualités de l'établissement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/actualites'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /contenuArticle/article/{article}/:
    get:
      summary: Consulter les détails d'un article.
      operationId: etablissementContenuActualite
      tags:
        - Etablissement
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: article
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit le contenu de l'article.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/article'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /calendrier/idetablissement/{idetablissement}/:
    get:
      summary: Consulter l'emploi du temps de l'élève sélectionné par défaut.
      operationId: eleveConsulterEDT
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: idetablissement
          required: true
          schema:
            type: number
      responses:
        200:
          description: Le serveur renvoit l'emploi du temps de l'élève sur 7 jours.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emploiDuTemps'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /calendrier/ideleve/{ideleve}/:
    get:
      summary: Consulter l'emploi du temps d'un élève précis.
      operationId: eleveConsulterEDTParent
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit l'emploi du temps de l'élève sur 7 jours.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/emploiDuTemps'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /consulterNotes/idetablissement/{idetablissement}/:
    get:
      summary: Consulter les dernières notes de l'élève sélectionné par défaut.
      operationId: eleveConsulterNotes
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: idetablissement
          required: true
          schema:
            type: number
      responses:
        200:
          description: Le serveur renvoit les dernières notes de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consulterNotes'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /consulterNotes/ideleve/{ideleve}/:
    get:
      summary: Consulter les dernières notes d'un élève précis.
      operationId: eleveConsulterNotesParent
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les dernières notes de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consulterNotes'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /consulterReleves/idetablissement/{idetablissement}/:
    get:
      summary: Consulter le relevé de notes de l'élève sélectionné par défaut.
      operationId: eleveConsulterReleves
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: idetablissement
          required: true
          schema:
            type: number
      responses:
        200:
          description: Le serveur renvoit le relevé de notes de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consulterReleves'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /consulterReleves/ideleve/{ideleve}/:
    get:
      summary: Consulter le relevé de notes d'un élève précis.
      operationId: eleveConsulterRelevesParent
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit le relevé de notes de l'élève.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/consulterReleves'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /travailAFaire/idetablissement/{idetablissement}/:
    get:
      summary: Consulter les devoirs à faire de l'élève sélectionné par défaut.
      operationId: eleveTafParent
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: idetablissement
          required: true
          schema:
            type: number
      responses:
        200:
          description: Le serveur renvoit les travaux à faire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/travailAFaire'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /travailAFaire/ideleve/{ideleve}/:
    get:
      summary: Consulter les devoirs à faire d'un élève précis.
      operationId: eleveTaf
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: ideleve
          required: true
          schema:
            type: string
      responses:
        200:
          description: Le serveur renvoit les travaux à faire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/travailAFaire'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /contenuActivite/idetablissement/{idetablissement}/{seance}/{travail}/:
    get:
      summary: Consulter les détails d'un devoir à faire.
      operationId: eleveConsulterActivite
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: idetablissement
          required: true
          schema:
            type: number
        - in: path
          name: seance
          required: true
          schema:
            type: number
        - in: path
          name: travail
          required: true
          schema:
            type: number
      responses:
        200:
          description: Le serveur renvoit les détails du travail à faire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contenuActivite'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'
    put:
      summary: Marquer le devoir fait.
      operationId: eleveConsulterActivite
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      requestBody:
        description: Le statut du devoir.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/flagRealise'
      parameters:
        - in: path
          name: idetablissement
          required: true
          schema:
            type: number
        - in: path
          name: seance
          required: true
          schema:
            type: number
        - in: path
          name: travail
          required: true
          schema:
            type: number

      responses:
        200:
          description: Le serveur confirme le changement.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/flagRealise'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

  /contenuActivite/ideleve/{ideleve}/{seance}/{travail}/:
    get:
      summary: Consulter les détails d'un devoir à faire d'un élève précis.
      operationId: eleveConsulterActiviteParent
      tags:
        - Elève
      security:
        - AuthToken: [ ]
        - AppVersion: [ ]
      parameters:
        - in: path
          name: ideleve
          required: true
          schema:
            type: string
        - in: path
          name: seance
          required: true
          schema:
            type: number
        - in: path
          name: travail
          required: true
          schema:
            type: number
      responses:
        200:
          description: Le serveur renvoit les détails du travail à faire.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/contenuActivite'
        403:
          description: Le serveur vous refuse l'accès.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/errmsg'

components:
  securitySchemes:
    AuthToken:
      type: apiKey
      in: header
      name: X-Kdecole-Auth
      description: Le token d'authentification de l'utilisateur
    AppVersion:
      type: apiKey
      in: header
      name: X-Kdecole-Vers
      description: La version de l'application mobile (3.4.14 actuellement)
  schemas:
    activationResponse:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        success:
          type: boolean
        authtoken:
          type: string
          nullable: true
    errmsg:
      nullable: true
      type: object
      properties:
        errmsg:
          type: object
          properties:
            titre:
              type: string
            code:
              type: number
            type:
              type: string
            message:
              type: string
            tempsvalide:
              type: number
    infoutilisateur:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        type:
          type: number
          description: Le type de compte (élève, parent, prof, etc.)
        nom:
          type: string
        eleve:
          type: array
          items:
            type: object
            properties:
              active:
                type: boolean
              nom:
                type: string
              uid:
                type: string
              permissions:
                type: string
                nullable: true
        xiti:
          type: object
          properties:
            idProjet:
              type: string
            idCollectivite:
              type: string
            idXiti:
              type: string
            idEtab:
              type: string
            idPlateforme:
              type: string
            codeProfil:
              type: string
        idEtablissementSelectionne:
          type: string
          nullable: true
        idEleveSelectionne:
          type: string
          nullable: true
        protection:
          type: string
        etabs:
          type: array
          items:
            type: object
            properties:
              permissions:
                type: string
                nullable: true
              uid:
                type: string
              nom:
                type: string
              active:
                type: boolean
        timezone:
          type: string
    messagerieInfo:
      type: object
      properties:
        nbMessagesNonLus:
          type: number
    messagerieBoiteReception:
      type: object
      properties:
        nbMaxCommunicationRecues:
          type: number
    messagerieParticipant:
      type: object
      nullable: true
      properties:
        id:
          type: string
          nullable: true
        libelle:
          type: string
    messagerieParticipation:
      type: array
      nullable: true
      items:
        type: object
        properties:
          dateEnvoi:
            type: number
          corpsMessage:
            type: string
          pjs:
            $ref: '#/components/schemas/pieceJointe'
          id:
            type: number
          libelleObjet:
            type: string
            nullable: true
          redacteur:
            $ref: '#/components/schemas/messagerieParticipant'
          premieresLignes:
            type: string
          typeMessage:
            type: string
    messagerieCommunication:
      type: array
      items:
        type: object
        properties:
          participants:
            $ref: '#/components/schemas/messagerieParticipant'
          expediteurActuel:
            $ref: '#/components/schemas/messagerieParticipant'
          signalable:
            type: boolean
          expediteurInitial:
            $ref: '#/components/schemas/messagerieParticipant'
          id:
            type: number
          dateDernierMessage:
            type: number
          nbParticipants:
            type: number
          isExpediteurInitial:
            type: boolean
          pieceJointe:
            type: boolean
          participations:
            $ref: '#/components/schemas/messagerieParticipation'
          objet:
            type: string
          type:
            type: string
          etat:
            type: string
          premieresLignes:
            type: string
          etatLecture:
            type: boolean
          modeReponse:
            type: string
    pieceJointe:
      type: array
      nullable: true
      items:
        type: object
        properties:
          idRessource:
            type: number
          url:
            type: string
            nullable: true
          name:
            type: string
          typeMIME:
            type: string
    messagerieNouvelleParticipation:
      type: object
      properties:
        dateEnvoi:
          type: number
        corpsMessage:
          type: string
    consulterAbsences:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        codeEleve:
          type: string
        nbAbsencesMax:
          type: number
        listeAbsences:
          type: array
          items:
            type: object
            properties:
              dateFin:
                type: number
              motif:
                type: string
                nullable: true
              type:
                type: string
              matiere:
                type: string
              dateDebut:
                type: number
              justifiee:
                type: boolean
    actualites:
      type: array
      items:
        type: object
        properties:
          errmsg:
            $ref: '#/components/schemas/errmsg'
          type:
            type: string
          auteur:
            type: string
          codeEmetteur:
            type: string
          titre:
            type: string
          date:
            type: number
          uid:
            type: string
    article:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        titre:
          type: string
        codeHTML:
          type: string
        date:
          type: number
        url:
          type: string
        auteur:
          type: string
        type:
          type: string
        pjs:
          type: array
          items:
            $ref: '#/components/schemas/pieceJointe'
    emploiDuTemps:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        currentDate:
          type: number
        listeJourCdt:
          type: array
          items:
            type: object
            properties:
              listeSeances:
                type: array
                items:
                  type: object
                  properties:
                    hdeb:
                      type: number
                    enSeance:
                      nullable: true
                      type: array
                      items:
                        $ref: '#/components/schemas/travail'
                    matiere:
                      type: string
                    aFaire:
                      type: array
                      items:
                        $ref: '#/components/schemas/travail'
                    heureFin:
                      type: string
                    flagModif:
                      type: string
                    titre:
                      type: string
                    flagActif:
                      type: boolean
                    heureDebut:
                      type: string
                    hFin:
                      type: number
                    aRendre:
                      type: array
                      items:
                        $ref: '#/components/schemas/travail'
                    motifModif:
                      type: string
                    idSeance:
                      type: number
                    salle:
                      type: string
              date:
                type: number
        cdtOuvert:
          type: boolean
    travail:
      type: object
      properties:
        type:
          type: string
        uid:
          type: number
        date:
          type: number
        titre:
          type: string
    consulterNotes:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        moduleNotesActif:
          type: boolean
        codeEleve:
          type: string
        nbNotesMax:
          type: number
        listeNotes:
          type: array
          items:
            $ref: '#/components/schemas/note'


    note:
      type: object
      properties:
        coefficient:
          type: number
        pjs:
          $ref: '#/components/schemas/pieceJointe'
        id:
          type: number
        titreDevoir:
          type: string
        noteMax:
          type: string
        moyenne:
          type: string
        comptabilise:
          type: boolean
        commentaireDevoir:
          type: string
        facultatif:
          type: boolean
        sousMatiere:
          nullable: true
          type: string
        noteMin:
          type: string
        appreciation:
          nullable: true
          type: string
        bareme:
          type: number
        matiere:
          type: string
        date:
          type: number
        note:
          type: string
        medianeClasse:
          type: string
    noteReleve:
      type: object
      properties:
        coefficient:
          type: number
        pjs:
          $ref: '#/components/schemas/pieceJointe'
        id:
          type: number
        titreDevoir:
          type: string
        noteMax:
          type: string
        moyenne:
          type: string
        comptabilise:
          type: boolean
        commentaireDevoir:
          type: string
        facultatif:
          type: boolean
        sousMatiere:
          nullable: true
          type: string
        noteMin:
          type: string
        appreciation:
          nullable: true
          type: string
        bareme:
          type: number
        matiere:
          type: string
        date:
          type: number
        note:
          type: string
        medianeClasse:
          type: string

    consulterReleves:
      type: array
      items:
        type: object
        properties:
          matieres:
            type: array
            items:
              type: object
              properties:
                bareme:
                  type: string
                moyenneEleve:
                  type: string
                devoirs:
                  type: array
                  items:
                    $ref: '#/components/schemas/noteReleve'
                enseignants:
                  type: array
                  items:
                    type: string
                matiereLibelle:
                  type: string
                moyenneClasse:
                  type: string
    travailAFaire:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        tafOuvert:
          type: boolean
        listeTravaux:
          type: array
          items:
            type: object
            properties:
              date:
                type: number
              listTravail:
                type: object
                properties:
                  type:
                    type: string
                  temps:
                    type: number
                  matiere:
                    type: string
                  flagRealise:
                    type: boolean
                  titre:
                    type: string
                  date:
                    type: number
                  uid:
                    type: string
                  uidSeance:
                    type: string
    contenuActivite:
      type: object
      properties:
        errmsg:
          $ref: '#/components/schemas/errmsg'
        codeHTML:
          type: string
        flagTravailAFaire:
          type: boolean
        flagRealise:
          type: boolean
        titre:
          type: string
        date:
          type: number
        isFaitModifiable:
          type: boolean
        type:
          type: string
        matiere:
          type: string
        pjs:
          $ref: '#/components/schemas/pieceJointe'
    flagRealise:
      type: object
      properties:
        flagRealise:
          type: boolean
